<% include ../partials/header %>
<div class="container">
	<div class="row">
		<h2 align="center">Νέος Πυρσός LED</h2>
		<form action="/ledLighthouses/registerLed" method="POST" class="row g-3" enctype="multipart/form-data">
			<div class="input-group input-group-sm mb-3">
				<input class="form-control" type="file" name="file" class="userAvatar" value="1" placeholder="">
			</div>
			<div class="col-md-6 mt-0">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΑΕΦ</span>
					<input type="text" class="form-control" name="aef" id="aef" required>
				</div>
			</div>
			<div class="col-md-6 mt-0">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΟΝΟΜΑΣΙΑ</span>
					<input type="text" class="form-control" name="lighthouse" id="lighthouse" required>
				</div>
			</div>
			<div class="col-md-4 mt-0">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΧΡΩΜΑΤΙΣΜΟΣ</span>
					<input type="text" class="form-control" list="colours" name="colour" id="colour">
					<datalist id="colours">
						<% if(storeroom != undefined) { %>
							<% for (var i=0; i < storeroom.colours.length; i++) { %>
								<option value="<%= storeroom.colours[i] %>">
							<% } %>
						<% } %>
					</datalist>
				</div>
			</div>
			<div class="col-md-4 mt-0">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΤΟΜΕΙΣ</span>
					<input type="text" class="form-control" name="sections" id="sections">
				</div>
			</div>
			<div class="col-md-4 mt-0">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΧΑΡΑΚΤΗΡΙΣΤΙΚΟ</span>
					<input type="text" class="form-control" name="features" id="features">
				</div>
			</div>
			<div class="col-md-6 mt-0">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΠΕΡΙΓΡΑΦΗ ΘΕΣΕΩΣ/ΤΟΠΟΘΕΤΗΣΗΣ</span>
					<input type="text" class="form-control" name="position" id="position">
				</div>
			</div>
			<div class="col-md-6 mt-0">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΠΕΡΙΟΧΗ</span>
					<input type="text" class="form-control" list="locations" name="location" id="location">
				<datalist id="locations">
					<% if(storeroom != undefined) { %>
						<% for (var i=0; i < storeroom.locations.length; i++) { %>
							<option value="<%= storeroom.locations[i] %>">
						<% } %>
					<% } %>
				</datalist>
				</div>
			</div>
			<div class="col-md-6 mt-0" id="fieldListSolar">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΗΛΙΑΚΗ ΓΕΝΝΗΤΡΙΑ</span>
					<input type="text" class="form-control" list="datalistOptions1" name="solarGenerator[]" id="solarGenerator">
					<datalist id="datalistOptions1">
						<% if(storeroom != undefined) { %>
							<% for (var i=0; i < storeroom.solarGenerators.length; i++) { %>
								<option value="<%= storeroom.solarGenerators[i] %>">
							<% } %>
						<% } %>
					</datalist>
					<button class="btn btn-primary" id="addMoreSolar">Προσθήκη Ηλιακής Γεννήτριας</button>
				</div>
			</div>
			<div class="col-md-6 mt-0">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΗΜ/ΝΙΑ ΤΟΠΟΘΕΤΗΣΗΣ</span>
					<input type="date" class="form-control" name="solarGeneratorDate[]" id="solarGeneratorDate">
				</div>
			</div>
			<div class="col-md-6 mt-0" id="fieldListAcc">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΣΥΣΣΩΡΕΥΤΗΣ</span>
					<input type="text" class="form-control" list="datalistOptions" name="accumulator[]" id="accumulator">
					<datalist id="datalistOptions">
						<% if(storeroom != undefined) { %>
							<% for (var i=0; i < storeroom.accumulators.length; i++) { %>
								<option value="<%= storeroom.accumulators[i] %>">
							<% } %>
						<% } %>
					</datalist>
				<button class="btn btn-primary" id="addMoreAcc">Προσθήκη Συσσωρευτή</button>
				</div>
			</div>
			<div class="col-md-6 mt-0">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΗΜ/ΝΙΑ ΤΟΠΟΘΕΤΗΣΗΣ</span>
					<input type="date" class="form-control" name="accumulatorDate[]" id="accumulatorDate">
				</div>
			</div>
			<div class="col-md-6 mt-0">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΚΕΦΑΛΗ</span>
					<input type="text" class="form-control" list="heads" name="head" id="head">
					<datalist id="heads">
						<% if(storeroom != undefined) { %>
							<% for (var i=0; i < storeroom.heads.length; i++) { %>
								<option value="<%= storeroom.heads[i] %>">
							<% } %>
						<% } %>
					</datalist>
				</div>
			</div>
			<div class="col-md-6 mt-0">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΗΜ/ΝΙΑ ΤΟΠΟΘΕΤΗΣΗΣ</span>
					<input type="date" class="form-control" name="headDate" id="headDate">
				</div>
			</div>
			<div class="col-md-6 mt-0">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΡΥΘΜΙΣΤΗΣ ΦΟΡΤΙΣΕΩΣ/ ΦΟΡΤΙΣΤΗΣ</span>
					<input type="text" class="form-control" list="generatorSockets" name="chargeRegulator" id="chargeRegulator">
					<datalist id="generatorSockets">
						<% if(storeroom != undefined) { %>
							<% for (var i=0; i < storeroom.generatorSockets.length; i++) { %>
								<option value="<%= storeroom.generatorSockets[i] %>">
							<% } %>
						<% } %>
					</datalist>
				</div>
			</div>
			<div class="col-md-6 mt-0">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΗΜ/ΝΙΑ ΤΟΠΟΘΕΤΗΣΗΣ</span>
					<input type="date" class="form-control" name="generatorSocketDate" id="generatorSocketDate">
				</div>
			</div>
			<div class="col-md-6 mt-0">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΥΠΟΔΟΧΗ ΠΥΡΣΟΥ</span>
					<input type="text" class="form-control" list="torchSockets" name="socket" id="socket">
					<datalist id="torchSockets">
						<% if(storeroom != undefined) { %>
							<% for (var i=0; i < storeroom.torchSockets.length; i++) { %>
								<option value="<%= storeroom.torchSockets[i] %>">
							<% } %>
						<% } %>
					</datalist>
				</div>
			</div>
			<div class="col-md-6 mt-0">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΗΜ/ΝΙΑ ΤΟΠΟΘΕΤΗΣΗΣ</span>
					<input type="date" class="form-control" name="socketDate" id="socketDate">
				</div>
			</div>
			<div class="text-center">
				<a onclick="window.history.back()" class="btn btn-outline-primary float-left">Πίσω</a>
				<button class="btn btn-outline-primary">Εγγραφή</button>
			</div>
		</form>
	</div>
</div>
<br>

<script src="/js/registerLightHouses.js"></script>
<% include ../partials/footer %>
