<% include ../partials/header %>

<div class="container">
	<h2 align="center">Στοιχεία Τεχνικών</h2>
		<% for (var i=0; i < constantLightHouse.technicians.length; i++) { %>
			<form action="/constantLighthouses/deleteSuggest/<%= constantLightHouse._id %>?_method=PUT" method="POST" class="row g-3">
				<div class="card mb-3 mx-auto" style="max-width: 540px;">
					<div class="row g-0">
						<ul class="list-group list-group-flush">
							<input type="hidden" name="technician" value="<%= constantLightHouse.technicians[i].technician %>">
							<input type="hidden" name="date" value="<%= constantLightHouse.technicians[i].date.toISOString().split('T')[0] %>">
							<input type="hidden" name="description" value="<%= constantLightHouse.technicians[i].description %>">
							<input type="hidden" name="suggests" value="<%= constantLightHouse.technicians[i].suggests %>">
							<li class="list-group-item"><strong>ΤΕΧΝΙΚΟΣ: <%= constantLightHouse.technicians[i].technician %></strong></li>
							<li class="list-group-item" name="date"><strong>ΗΜΕΡΟΜΗΝΊΑ: <%= constantLightHouse.technicians[i].date.toISOString().split('T')[0] %></strong></li>
							<li class="list-group-item"><strong>ΕΚΤΕΛΕΣΘΕΙΣΕΣ ΕΡΓΑΣΙΕΣ: <%= constantLightHouse.technicians[i].description %></strong></li>
							<li class="list-group-item" name="suggests"><strong>ΠΡΟΤΕΙΝΟΜΕΝΕΣ ΕΡΓΑΣΙΕΣ: <%= constantLightHouse.technicians[i].suggests %></strong></li>
							<% if(currentUser && constantLightHouse.technicians[i].suggests != "") { %>
								<button class="btn btn-danger" type="submit">Διαγραφή Προτεινόμενης Εργασίας</button>
							<% } %>
						</ul>
					</div>
				</div>
			</form>
		<% } %>
	<div class="text-center">
		<div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
			<input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
			<a onclick="window.history.back()" class="btn btn-outline-primary float-left">Πίσω</a>
			<a href="/" class="btn btn-outline-primary">Αρχική Σελίδα</a>
			<a href="/constantLighthouses/technicians/new/<%= constantLightHouse._id %>" class="btn btn-outline-primary float-right">Εισαγωγή</a>
		</div>
	</div>
</div>

<% include ../partials/footer %>
