<% include ./partials/header %>

<div class="container">
    <h2 align="center">Εισαγωγή Στοιχείων</h2>
    <form action="/autoLighthouses/insertAuto/<%= autoLightHouse._id %>?_method=PUT" method="POST">
        <div class="row">
			<div class="col-md-6">
				<label for="lighter" class="form-label">ΕΚΛΑΜΠΤΗΡΑΣ</label>
				<input type="text" class="form-control" name="lighter" id="lighter" value="<%= autoLightHouse.lighter %>">
			</div>
            <div class="col-md-6">
				<label for="lighterDate" class="form-label">ΗΜ/ΝΙΑ ΤΟΠΟΘΕΤΗΣΗΣ</label>
				<input type="date" class="form-control" name="lighterDate" id="lighterDate" value="<%= autoLightHouse.lighterDate.pop() %>">
			</div>
			<div class="col-md-6">
				<label for="solarGeneratorNew" class="form-label">ΗΛΙΑΚΗ ΓΕΝΝΗΤΡΙΑ</label>
				<input type="text" class="form-control" name="solarGeneratorNew" id="solarGeneratorNew">
			</div>
            <div class="col-md-6">
				<label for="solarGeneratorDateNew" class="form-label">ΗΜ/ΝΙΑ ΤΟΠΟΘΕΤΗΣΗΣ</label>
				<input type="date" class="form-control" name="solarGeneratorDateNew" id="solarGeneratorDateNew">
			</div>
			<% for (var i=0; i < autoLightHouse.solarGenerator.length; i++) { %>
				<div class="col-md-6">
					<label for="solarGenerator" class="form-label">ΗΛΙΑΚΗ ΓΕΝΝΗΤΡΙΑ</label>
					<input type="text" class="form-control" name="solarGenerator[]" id="solarGenerator" value="<%= autoLightHouse.solarGenerator[i] %>">
				</div>
				<% if(autoLightHouse.solarGeneratorDateGroups.get(i.toString()) != undefined) { %>
					<div class="col-md-6">
						<label for="solarGeneratorDate[]" class="form-label">ΗΜ/ΝΙΑ ΤΟΠΟΘΕΤΗΣΗΣ</label>
						<input type="date" class="form-control" name="solarGeneratorDate[]" id="solarGeneratorDate" value="<%= autoLightHouse.solarGeneratorDateGroups.get(i.toString())[autoLightHouse.solarGeneratorDateGroups.get(i.toString()).length-1] %>">
					</div>
				<% } else { %>
					<div class="col-md-6">
						<label for="solarGeneratorDate[]" class="form-label">ΗΜ/ΝΙΑ ΤΟΠΟΘΕΤΗΣΗΣ</label>
						<input type="date" class="form-control" name="solarGeneratorDate[]" id="solarGeneratorDate">
					</div>
				<% } %>
			<% } %>
			<div class="col-md-6">
				<label for="alternator" class="form-label">ΕΝΑΛΛΑΚΤΗΣ</label>
				<input type="text" class="form-control" name="alternator" id="alternator" value="<%= autoLightHouse.alternator %>">
			</div>
            <div class="col-md-6">
				<label for="alternatorDate" class="form-label">ΗΜ/ΝΙΑ ΤΟΠΟΘΕΤΗΣΗΣ</label>
				<input type="date" class="form-control" name="alternatorDate" id="alternatorDate" value="<%= autoLightHouse.alternatorDate.pop() %>">
			</div>
			<div class="col-md-6">
				<label for="lamp" class="form-label">ΛΥΧΝΙΑ</label>
				<input type="text" class="form-control" name="lampNew" id="lampNew">
			</div>
			<div class="col-md-6">
				<label for="lampDate" class="form-label">ΗΜ/ΝΙΑ ΤΟΠΟΘΕΤΗΣΗΣ</label>
				<input type="date" class="form-control" name="lampDateNew" id="lampDateNew">
			</div>
			<% for (var i=0; i < autoLightHouse.lamp.length; i++) { %>
				<div class="col-md-6">
					<label for="lamp" class="form-label">ΛΥΧΝΙΑ</label>
					<input type="text" class="form-control" name="lamp[]" id="lamp" value="<%= autoLightHouse.lamp[i] %>">
				</div>
				<% if(autoLightHouse.lampDateGroups.get(i.toString()) != undefined) { %>
					<div class="col-md-6">
						<label for="lampDate[]" class="form-label">ΗΜ/ΝΙΑ ΤΟΠΟΘΕΤΗΣΗΣ</label>
						<input type="date" class="form-control" name="lampDate[]" id="lampDate" value="<%= autoLightHouse.lampDateGroups.get(i.toString())[autoLightHouse.lampDateGroups.get(i.toString()).length-1] %>">
					</div>
				<% } else { %>
					<div class="col-md-6">
						<label for="lampDate[]" class="form-label">ΗΜ/ΝΙΑ ΤΟΠΟΘΕΤΗΣΗΣ</label>
						<input type="date" class="form-control" name="lampDate[]" id="lampDate">
					</div>
				<% } %>
			<% } %>
			<div class="col-md-6">
				<label for="accumulator" class="form-label">ΣΥΣΣΩΡΕΥΤΗΣ</label>
				<input type="text" class="form-control" name="accumulatorNew" id="accumulatorNew">
			</div>
			<div class="col-md-6">
				<label for="accumulatorDate" class="form-label">ΗΜ/ΝΙΑ ΤΟΠΟΘΕΤΗΣΗΣ</label>
				<input type="date" class="form-control" name="accumulatorDateNew" id="accumulatorDateNew">
			</div>
			<% for (var i=0; i < autoLightHouse.accumulator.length; i++) { %>
				<div class="col-md-6">
					<label for="accumulator" class="form-label">ΣΥΣΣΩΡΕΥΤΗΣ</label>
					<input type="text" class="form-control" name="accumulator[]" id="accumulator" value="<%= autoLightHouse.accumulator[i] %>">
				</div>
				<% if(autoLightHouse.accumulatorDateGroups.get(i.toString()) != undefined) { %>
					<div class="col-md-6">
						<label for="accumulatorDate[]" class="form-label">ΗΜ/ΝΙΑ ΤΟΠΟΘΕΤΗΣΗΣ</label>
						<input type="date" class="form-control" name="accumulatorDate[]" id="accumulatorDate" value="<%= autoLightHouse.accumulatorDateGroups.get(i.toString())[autoLightHouse.accumulatorDateGroups.get(i.toString()).length-1] %>">
					</div>
				<% } else { %>
					<div class="col-md-6">
						<label for="accumulatorDate[]" class="form-label">ΗΜ/ΝΙΑ ΤΟΠΟΘΕΤΗΣΗΣ</label>
						<input type="date" class="form-control" name="accumulatorDate[]" id="accumulatorDate">
					</div>
				<% } %>
			<% } %>
			<div class="col-md-6">
				<label for="head" class="form-label">ΚΕΦΑΛΗ</label>
				<input type="text" class="form-control" name="head" id="head" value="<%= autoLightHouse.head %>">
			</div>
            <div class="col-md-6">
				<label for="headDate" class="form-label">ΗΜ/ΝΙΑ ΤΟΠΟΘΕΤΗΣΗΣ</label>
				<input type="date" class="form-control" name="headDate" id="headDate" value="<%= autoLightHouse.headDate.pop() %>">
			</div>
			<div class="col-md-6">
				<label for="generatorSocket" class="form-label">ΡΥΘΜΙΣΤΗΣ ΦΟΡΤΙΣΕΩΣ/ ΦΟΡΤΙΣΤΗΣ</label>
				<input type="text" class="form-control" name="generatorSocket" id="generatorSocket" value="<%= autoLightHouse.generatorSocket %>">
			</div>
            <div class="col-md-6">
				<label for="generatorSocketDate" class="form-label">ΗΜ/ΝΙΑ ΤΟΠΟΘΕΤΗΣΗΣ</label>
				<input type="date" class="form-control" name="generatorSocketDate" id="generatorSocketDate" value="<%= autoLightHouse.generatorSocketDate.pop() %>">
			</div>
			<div class="col-md-6">
				<label for="torchSocket" class="form-label">ΥΠΟΔΟΧΗ ΠΥΡΣΟΥ</label>
				<input type="text" class="form-control" name="torchSocket" id="torchSocket" value="<%= autoLightHouse.torchSocket %>">
			</div>
            <div class="col-md-6">
				<label for="torchSocketDate" class="form-label">ΗΜ/ΝΙΑ ΤΟΠΟΘΕΤΗΣΗΣ</label>
				<input type="date" class="form-control" name="torchSocketDate" id="torchSocketDate" value="<%= autoLightHouse.torchSocketDate.pop() %>">
			</div>
			<div class="col-md-6">
				<label for="photocell" class="form-label">ΦΩΤΟΚΥΤΤΑΡΟ</label>
				<input type="text" class="form-control" name="photocell" id="photocell" value="<%= autoLightHouse.photocell %>">
			</div>
            <div class="col-md-6">
				<label for="photocellDate" class="form-label">ΗΜ/ΝΙΑ ΤΟΠΟΘΕΤΗΣΗΣ</label>
				<input type="date" class="form-control" name="photocellDate" id="photocellDate" value="<%= autoLightHouse.photocellDate.pop() %>">
			</div>
			<div class="col-md-6">
				<label for="accessory" class="form-label">ΠΡΟΣΘΕΤΟ ΕΞΑΡΤΗΜΑ</label>
				<input type="text" class="form-control" name="accessory" id="accessory">
			</div>
            <div class="col-md-6">
				<label for="accessoryDate" class="form-label">ΗΜ/ΝΙΑ ΤΟΠΟΘΕΤΗΣΗΣ</label>
				<input type="date" class="form-control" name="accessoryDate" id="accessoryDate" value="<%= autoLightHouse.accessoryDate.pop() %>">
			</div>
        </div>
        
        <br>
        
		<div class="text-center">
			<div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
				<input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
				<a onclick="window.history.back()" class="btn btn-outline-primary float-left">Πίσω</a>
				<a href="/" class="btn btn-outline-primary float-left">Αρχική Σελίδα</a>
                <button class="btn btn-outline-primary float-right" type="submit">Εισαγωγή στοιχείων</button>
			</div>
		</div>
    </form>
</div>
<br>

<% include ./partials/footer %>
