<% include ./partials/header %>
<div class="container">
    <h2 align="center">Σύνολο Εξαρτημάτων LED</h2>
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th scope="col">ΚΑΤΗΓΟΡΙΑ</th>
                <th scope="col">ΤΥΠΟΣ</th>
                <th scope="col">ΣΥΝΟΛΟ</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">ΧΡΩΜΑΤΙΣΜΟΣ</th>
                <% var first_iteration = true; %>
                <% for (const [key, value] of Object.entries(coloursCount)) { %>
                    <% if(first_iteration == true) { %>
                        <td>
                            <%= key %>
                        </td>
                        <td>
                            <%= value %>
                        </td>
                        <% first_iteration = false; %>
                    <% } else if (key != "") { %>
                        <tr>
                            <td>
                                
                            </td>
                            <td>
                                <%= key %>
                            </td>
                            <td>
                                <%= value %>
                            </td>
                        </tr>
                    <% } %>
                <% } %>
            </tr>
            <tr>
                <th scope="row">ΤΟΜΕΙΣ</th>
                <% var first_iteration = true; %>
                <% for (const [key, value] of Object.entries(sectionsCount)) { %>
                    <% if(first_iteration == true) { %>
                        <td>
                            <%= key %>
                        </td>
                        <td>
                            <%= value %>
                        </td>
                        <% first_iteration = false; %>
                    <% } else if (key != "") { %>
                        <tr>
                            <td>
                                
                            </td>
                            <td>
                                <%= key %>
                            </td>
                            <td>
                                <%= value %>
                            </td>
                        </tr>
                    <% } %>
                <% } %>
            </tr>
            <tr>
                <th scope="row">ΚΕΦΑΛΗ</th>
                <% var first_iteration = true; %>
                <% for (const [key, value] of Object.entries(headsCount)) { %>
                    <% if(first_iteration == true) { %>
                        <td>
                            <%= key %>
                        </td>
                        <td>
                            <%= value %>
                        </td>
                        <% first_iteration = false; %>
                    <% } else if (key != "") { %>
                        <tr>
                            <td>
                                
                            </td>
                            <td>
                                <%= key %>
                            </td>
                            <td>
                                <%= value %>
                            </td>
                        </tr>
                    <% } %>
                <% } %>
            </tr>
            <tr>
                <th scope="row">ΗΛΙΑΚΗ ΓΕΝΝΗΤΡΙΑ</th>
                <% var first_iteration = true; %>
                <% for (const [key, value] of Object.entries(solarGeneratorsCount)) { %>
                    <% if(first_iteration == true) { %>
                        <td>
                            <%= key %>
                        </td>
                        <td>
                            <%= value %>
                        </td>
                        <% first_iteration = false; %>
                    <% } else if (key != "") { %>
                        <tr>
                            <td>
                                
                            </td>
                            <td>
                                <%= key %>
                            </td>
                            <td>
                                <%= value %>
                            </td>
                        </tr>
                    <% } %>
                <% } %>
            </tr>
            <tr>
                <th scope="row">ΣΥΣΣΩΡΕΥΤΗΣ</th>
                <% var first_iteration = true; %>
                <% for (const [key, value] of Object.entries(accumulatorsCount)) { %>
                    <% if(first_iteration == true) { %>
                        <td>
                            <%= key %>
                        </td>
                        <td>
                            <%= value %>
                        </td>
                        <% first_iteration = false; %>
                    <% } else if (key != "") { %>
                        <tr>
                            <td>
                                
                            </td>
                            <td>
                                <%= key %>
                            </td>
                            <td>
                                <%= value %>
                            </td>
                        </tr>
                    <% } %>
                <% } %>
            </tr>
        </tbody>
    </table>
    <div class="col text-center">
        <a href="/" class="btn btn-outline-primary">Αρχική Σελίδα</a>
    </div>
</div>

<br>

<% include ./partials/footer %>