<% include ./partials/header %>

<% for (let led of searchedAuto){%>
	<div class="container">
		<h2 align="center">Στοιχεία Αυτόματου Φάρου</h2>
		<% for (var i=0; i < led.technicians.length; i++) { %>
			<% if (led.technicians[i].suggests !== undefined  && led.technicians[i].suggests !== ""){%>
				<div class="spinner-grow text-danger" role="status">
					<span class="visually hidden"></span>
				</div>
			<% } %>
		<% } %>
		<table class="table">
			<thead class="table-light">
				<tr class="d-flex">
				  <th scope="col"><%= led.aef %></th>
				  <th scope="col"><%= led.lighthouse %></th>
				  <th scope="col"><%= led.features %></th>
				  <th scope="col"><%= led.location %></th>
				</tr>
			</thead>
			<thead class="table-dark">
			  <tr>
				<th scope="col">ΚΑΤΗΓΟΡΙΑ</th>
				<th scope="col">ΤΥΠΟΣ</th>
				<% if (led.accumulator.length > led.accessory.length) { %>
					<% for (var i=0; i < led.accumulator.length; i++) { %>
						<th scope="col">ΗΜ/ΝΙΑ ΤΟΠΟΘΕΤΗΣΗΣ</th>
					<% } %>
				<% } else { %>
					<% for (var i=0; i < led.accessory.length; i++) { %>
						<th scope="col">ΗΜ/ΝΙΑ ΤΟΠΟΘΕΤΗΣΗΣ</th>
					<% } %>
				<% } %>
			  </tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">ΕΚΛΑΜΠΤΗΡΑΣ</th>
					<td class="text-center"><%= led.lighter %></td>
					<% for (var i = 0; i < led.lighterDate.length; i++) { %>
						<% if(led.lighterDate[i] != undefined) { %>
							<td class="text-center"><%= led.lighterDate[i]%></td>
						<% } else { %>
							<td> </td>
						<% } %>
					<% } %>
				</tr>
				<tr>
					<th scope="row">ΗΛΙΑΚΗ ΓΕΝΝΗΤΡΙΑ</th>
					<td class="text-center"><%= led.solarGenerator %></td>
					<% for (var i = 0; i < led.solarGeneratorDate.length; i++) { %>
						<% if(led.solarGeneratorDate[i] != undefined) { %>
							<td class="text-center"><%= led.solarGeneratorDate[i]%></td>
						<% } else { %>
							<td> </td>
						<% } %>
					<% } %>
				</tr>
				<tr>
					<th scope="row">ΚΕΦΑΛΗ</th>
					<td class="text-center"><%= led.head %></td>
					<% for (var i = 0; i < led.headDate.length; i++) { %>
						<% if(led.headDate[i] != undefined) { %>
							<td class="text-center"><%= led.headDate[i]%></td>
						<% } else { %>
							<td> </td>
						<% } %>
					<% } %>
				</tr>
				<tr>
					<th scope="row">ΛΥΧΝΙΑ</th>
					<td class="text-center"><%= led.lamp %></td>
					<% for (var i = 0; i < led.lampDate.length; i++) { %>
						<% if(led.lampDate[i] != undefined) { %>
							<td class="text-center"><%= led.lampDate[i]%></td>
						<% } else { %>
							<td> </td>
						<% } %>
					<% } %>
				</tr>
				<tr>
					<th scope="row">ΣΥΣΣΩΡΕΥΤΗΣ</th>
					<% for (var k = 0; k < led.accumulator.length; k++) { %>
						<% if(k == 0) { %>
							<td class="text-center">
								<%= led.accumulator[k] %>
							</td>
							<% if(led.accumulatorDate[k] != undefined) { %>
								<td class="text-center"><%= led.accumulatorDate[k]%></td>
							<% } else { %>
								<td> </td>
							<% } %>
						<% } else { %>
							<tr>
								<td class="text-center">
									
								</td>
								<td class="text-center">
									<%= led.accumulator[k] %>
								</td>
								<% if(led.accumulatorDate[k] != undefined) { %>
									<td class="text-center"><%= led.accumulatorDate[k]%></td>
								<% } else { %>
									<td> </td>
								<% } %>
							</tr>
						<% } %>
					<% } %>
				</tr>
				<tr>
					<th scope="row">ΡΥΘΜΙΣΤΗΣ ΦΟΡΤΙΣΕΩΣ/ ΦΟΡΤΙΣΤΗΣ</th>
					<td class="text-center"><%= led.generatorSocket %></td>
					<% for (var i = 0; i < led.generatorSocketDate.length; i++) { %>
						<% if(led.generatorSocketDate[i] != undefined) { %>
							<td class="text-center"><%= led.generatorSocketDate[i]%></td>
						<% } else { %>
							<td> </td>
						<% } %>
					<% } %>
				</tr>
				<tr>
					<th scope="row">ΥΠΟΔΟΧΗ ΠΥΡΣΟΥ</th>
					<td class="text-center"><%= led.torchSocket %></td>
					<% for (var i = 0; i < led.torchSocketDate.length; i++) { %>
						<% if(led.torchSocketDate[i] != undefined) { %>
							<td class="text-center"><%= led.torchSocketDate[i]%></td>
						<% } else { %>
							<td> </td>
						<% } %>
					<% } %>
				</tr>
				<tr>
					<th scope="row">ΦΩΤΟΚΥΤΤΑΡΟ</th>
					<td class="text-center"><%= led.photocell %></td>
					<% for (var i = 0; i < led.photocellDate.length; i++) { %>
						<% if(led.photocellDate[i] != undefined) { %>
							<td class="text-center"><%= led.photocellDate[i]%></td>
						<% } else { %>
							<td> </td>
						<% } %>
					<% } %>
				</tr>
				<th scope="row">ΕΠΙΠΛΕΟΝ ΕΞΑΡΤΗΜΑ</th>
				<% for (var k = 0; k < led.accessory.length; k++) { %>
					<% if(k == 0) { %>
						<td class="text-center">
								<%= led.accessory[k] %>
						</td>
						
						<% if(led.accessory[k] != undefined) { %>
							<td class="text-center"><%= led.accessory[k]%></td>
						<% } else { %>
							<td> </td>
						<% } %>
					<% } else { %>
						<tr>
							<td class="text-center">
								
							</td>
							<td class="text-center">
								<%= led.accessory[k] %>
							</td>
							<% if(led.accessory[k] != undefined) { %>
								<td class="text-center"><%= led.accessory[k]%></td>
							<% } else { %>
								<td> </td>
							<% } %>
						</tr>
					<% } %>
				<% } %>
			</tr>
			</tbody>
		</table>
		<div class="text-center">
			<div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
				<input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
				<a href="/" class="btn btn-outline-primary">Αρχική Σελίδα</a>
				<a href="/autoLighthouses/insertAuto/<%= led._id %>" class="btn btn-outline-primary">Εισαγωγή Στοιχείων</a>
				<a href="/autoLighthouses/technicians/<%= led._id %>" class="btn btn-outline-primary">Πληροφοριές Τεχνικού</a>
			  </div>
		</div>
	</div>
<% } %>

<% include ./partials/footer %>