<% include ./partials/header %>

<% for (let led of searchedLed){%>
	<div class="container">
		<h2 align="center">Στοιχεία LED Φάρου</h2>
		<% for (var i=0; i < led.technicians.length; i++) { %>
			<% if (led.technicians[i].suggests !== undefined && led.technicians[i].suggests !== ""){%>
				<div class="spinner-grow text-danger" role="status">
					<span class="visually hidden"></span>
				</div>
			<% } %>
		<% } %>
		<table class="table">
			<thead class="table-light">
				<tr class="d-flex">
				  <th scope="col"><%= led.aef %></th>
				  <th scope="col"><%= led.lighthouse %></th>
				  <th scope="col"><%= led.features %></th>
				  <th scope="col"><%= led.location %></th>
				</tr>
			</thead>
			<thead class="table-dark">
			  <tr>
				<th scope="col">ΚΑΤΗΓΟΡΙΑ</th>
				<th scope="col">ΤΥΠΟΣ</th>
				<% for (var i=0; i < led.accumulator.length; i++) {%>
					<th scope="col">ΗΜ/ΝΙΑ ΤΟΠΟΘΕΤΗΣΗΣ</th>
				<% } %>
			  </tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">ΚΕΦΑΛΗ</th>
					<td class="text-center"><%= led.head %></td>
					<% for (var i = 0; i < led.headDate.length; i++) { %>
						<% if(led.headDate[i] != undefined) { %>
							<td class="text-center"><%= led.headDate[i]%></td>
						<% } else { %>
							<td> </td>
						<% } %>
					<% } %>
				</tr>
				<tr>
					<th scope="row">ΣΥΣΣΩΡΕΥΤΗΣ</th>
					<% for (var k = 0; k < led.accumulator.length; k++) { %>
						<% if(k == 0) { %>
							<td class="text-center">
									<%= led.accumulator[k] %>
							</td>
							
							<% if(led.accumulatorDate[k] != undefined) { %>
								<td class="text-center"><%= led.accumulatorDate[k]%></td>
							<% } else { %>
								<td> </td>
							<% } %>
						<% } else { %>
							<tr>
								<td class="text-center">
									
								</td>
								<td class="text-center">
									<%= led.accumulator[k] %>
								</td>
								<% if(led.accumulatorDate[k] != undefined) { %>
									<td class="text-center"><%= led.accumulatorDate[k]%></td>
								<% } else { %>
									<td> </td>
								<% } %>
							</tr>
						<% } %>
					<% } %>
				</tr>
				<tr>
					<th scope="row">ΥΠΟΔΟΧΗ</th>
					<td class="text-center"><%= led.socket %></td>
					<% for (var i = 0; i < led.socketDate.length; i++) { %>
						<% if(led.socketDate[i] != undefined) { %>
							<td class="text-center"><%= led.socketDate[i]%></td>
						<% } else { %>
							<td> </td>
						<% } %>
					<% } %>
				</tr>
				<tr>
					<th scope="row">ΗΛΙΑΚΗ ΓΕΝΝΗΤΡΙΑ</th>
					<td class="text-center"><%= led.solarGenerator %></td>
					<% for (var i = 0; i < led.solarGeneratorDate.length; i++) { %>
						<% if(led.solarGeneratorDate[i] != undefined) { %>
							<td class="text-center"><%= led.solarGeneratorDate[i]%></td>
						<% } else { %>
							<td> </td>
						<% } %>
					<% } %>
				</tr>
				<tr>
					<th scope="row">ΡΥΘΜΙΣΤΗΣ ΦΟΡΤΙΣΕΩΣ/ ΦΟΡΤΙΣΤΗΣ</th>
					<td class="text-center"><%= led.chargeRegulator %></td>
					<% for (var i = 0; i < led.chargeRegulatorDate.length; i++) { %>
						<% if(led.chargeRegulatorDate[i] != undefined) { %>
							<td class="text-center"><%= led.chargeRegulatorDate[i]%></td>
						<% } else { %>
							<td> </td>
						<% } %>
					<% } %>
				</tr>
			</tbody>
		</table>
		<div class="text-center">
			<div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
				<input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
				<a href="/" class="btn btn-outline-primary">Αρχική Σελίδα</a>
				<a href="/ledLighthouses/insertLed/<%= led._id %>" class="btn btn-outline-primary">Εισαγωγή Στοιχείων</a>
				<a href="/ledLighthouses/technicians/<%= led._id %>" class="btn btn-outline-primary">Πληροφοριές Τεχνικού</a>
			  </div>
		</div>
	</div>
<% } %>

<% include ./partials/footer %>