<% include ./partials/header %>

<div class="container">
	<div class="row">
		<h2 align="center">Εισαγωγή Εξαρτημάτων</h2>
		<form action="/storeRoom" method="POST" class="row g-3">

			<div class="col-md-6 mt-0" id="fieldListColour">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΧΡΩΜΑΤΙΣΜΟΣ</span>
					<input type="text" class="form-control" list="colours" name="colour" id="colour">
					<datalist id="colours">
						<% if(storeroom != undefined) { %>
							<% for (var i=0; i < storeroom.colours.length; i++) { %>
								<option value="<%= storeroom.colours[i] %>">
							<% } %>
						<% } %>
					</datalist>
					<button class="btn btn-primary" id="addMoreColour">Προσθήκη Χρωματισμού</button>
				</div>
			</div>

			<div class="col-md-6 mt-0" id="fieldListAcc">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΣΥΣΣΩΡΕΥΤΗΣ</span>
					<input type="text" class="form-control" list="datalistOptions" name="accumulator" id="accumulator">
					<datalist id="datalistOptions">
						<% if(storeroom != undefined) { %>
							<% for (var i=0; i < storeroom.accumulators.length; i++) { %>
								<option value="<%= storeroom.accumulators[i] %>">
							<% } %>
						<% } %>
					</datalist>
				<button class="btn btn-primary" id="addMoreAcc">Προσθήκη Συσσωρευτή</button>
				</div>
			</div>

			<div class="col-md-6 mt-0" id="fieldListSolar">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΗΛΙΑΚΗ ΓΕΝΝΗΤΡΙΑ</span>
					<input type="text" class="form-control" list="datalistOptions1" name="solarGenerator" id="solarGenerator">
					<datalist id="datalistOptions1">
						<% if(storeroom != undefined) { %>
							<% for (var i=0; i < storeroom.solarGenerators.length; i++) { %>
								<option value="<%= storeroom.solarGenerators[i] %>">
							<% } %>
						<% } %>
					</datalist>
					<button class="btn btn-primary" id="addMoreSolar">Προσθήκη Ηλιακής Γεννήτριας</button>
				</div>
			</div>
			
			
			<div class="col-md-6 mt-0" id="fieldListHead">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΚΕΦΑΛΗ</span>
					<input type="text" class="form-control" list="heads" name="head" id="head">
					<datalist id="heads">
						<% if(storeroom != undefined) { %>
							<% for (var i=0; i < storeroom.heads.length; i++) { %>
								<option value="<%= storeroom.heads[i] %>">
							<% } %>
						<% } %>
					</datalist>
					<button class="btn btn-primary" id="addMoreHead">Προσθήκη Κεφαλής</button>
				</div>
			</div>

			<div class="col-md-6 mt-0" id="fieldListLamp">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΛΥΧΝΙΑ</span>
					<input type="text" class="form-control" list="datalistOptions2" name="lamp" id="lamp">
					<datalist id="datalistOptions2">
						<% if(storeroom != undefined) { %>
							<% for (var i=0; i < storeroom.lamps.length; i++) { %>
								<option value="<%= storeroom.lamps[i] %>">
							<% } %>
						<% } %>
					</datalist>
					<button class="btn btn-primary" id="addMoreLamp">Προσθήκη Λυχνίας</button>
				</div>
			</div>

			<div class="col-md-6 mt-0" id="fieldListAlternator">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΕΝΑΛΛΑΚΤΗΣ</span>
					<input type="text" class="form-control" list="alternators" name="alternator" id="alternator">
					<datalist id="alternators">
						<% if(storeroom != undefined) { %>
							<% for (var i=0; i < storeroom.alternators.length; i++) { %>
								<option value="<%= storeroom.alternators[i] %>">
							<% } %>
						<% } %>
					</datalist>
					<button class="btn btn-primary" id="addMoreAlternator">Προσθήκη Εναλλάκτη</button>
				</div>
			</div>
			
			<div class="col-md-6 mt-0" id="fieldListLighter">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΕΚΛΑΜΠΤΗΡΑΣ</span>
					<input type="text" class="form-control" list="lighters" name="lighter" id="lighter">
					<datalist id="lighters">
						<% if(storeroom != undefined) { %>
							<% for (var i=0; i < storeroom.lighters.length; i++) { %>
								<option value="<%= storeroom.lighters[i] %>">
							<% } %>
						<% } %>
					</datalist>
					<button class="btn btn-primary" id="addMoreLighter">Προσθήκη Εκλαμπτήρα</button>
				</div>
			</div>

			<div class="col-md-6 mt-0" id="fieldListGeneratorSocket">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΡΥΘΜΙΣΤΗΣ ΦΟΡΤΙΣΕΩΣ/ ΦΟΡΤΙΣΤΗΣ</span>
					<input type="text" class="form-control" list="generatorSockets" name="generatorSocket" id="generatorSocket">
					<datalist id="generatorSockets">
						<% if(storeroom != undefined) { %>
							<% for (var i=0; i < storeroom.generatorSockets.length; i++) { %>
								<option value="<%= storeroom.generatorSockets[i] %>">
							<% } %>
						<% } %>
					</datalist>
					<button class="btn btn-primary" id="addMoreGeneratorSocket">Προσθήκη Ρυθμιστή</button>
				</div>
			</div>

			<div class="col-md-6 mt-0" id="fieldListΤorchSocket">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΥΠΟΔΟΧΗ ΠΥΡΣΟΥ</span>
					<input type="text" class="form-control" list="torchSockets" name="torchSocket" id="torchSocket">
					<datalist id="torchSockets">
						<% if(storeroom != undefined) { %>
							<% for (var i=0; i < storeroom.torchSockets.length; i++) { %>
								<option value="<%= storeroom.torchSockets[i] %>">
							<% } %>
						<% } %>
					</datalist>
					<button class="btn btn-primary" id="addMoreΤorchSocket">Προσθήκη Υποδοχής Πυρσού</button>
				</div>
			</div>

			<div class="col-md-6 mt-0" id="fieldListPhotocell">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΦΩΤΟΚΥΤΤΑΡΟ</span>
					<input type="text" class="form-control" list="photocells" name="photocell" id="photocell">
					<datalist id="photocells">
						<% if(storeroom != undefined) { %>
							<% for (var i=0; i < storeroom.photocells.length; i++) { %>
								<option value="<%= storeroom.photocells[i] %>">
							<% } %>
						<% } %>
					</datalist>
					<button class="btn btn-primary" id="addMorePhotocell">Προσθήκη Φωτοκυττάρου</button>
				</div>
			</div>

			<div class="col-md-6 mt-0" id="fieldListAccessory">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΠΡΟΣΘΕΤΟ ΕΞΑΡΤΗΜΑ</span>
					<input type="text" class="form-control" list="accessorys" name="accessory" id="accessory">
					<datalist id="accessorys">
						<% if(storeroom != undefined) { %>
							<% for (var i=0; i < storeroom.accessorys.length; i++) { %>
								<option value="<%= storeroom.accessorys[i] %>">
							<% } %>
						<% } %>
					</datalist>
					<button class="btn btn-primary" id="addMoreAccessory">Προσθήκη Πρόσθετου Εξαρτήματος</button>
				</div>
			</div>

			<div class="col-md-6 mt-0" id="fieldListLocation">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΠΕΡΙΟΧΗ</span>
					<input type="text" class="form-control" list="locations" name="location" id="location">
					<datalist id="locations">
						<% if(storeroom != undefined) { %>
							<% for (var i=0; i < storeroom.locations.length; i++) { %>
								<option value="<%= storeroom.locations[i] %>">
							<% } %>
						<% } %>
					</datalist>
					<button class="btn btn-primary" id="addMoreLocation">Προσθήκη Περιοχής</button>
				</div>
			</div>

			<div class="col-md-6 mt-0" id="fieldListTechnician">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΤΕΧΝΙΚΟΣ</span>
					<input type="text" class="form-control" list="technicians" name="technician" id="technician">
					<datalist id="technicians">
						<% if(storeroom != undefined) { %>
							<% for (var i=0; i < storeroom.technicians.length; i++) { %>
								<option value="<%= storeroom.technicians[i] %>">
							<% } %>
						<% } %>
					</datalist>
					<button class="btn btn-primary" id="addMoreTechnician">Προσθήκη Τεχνικού</button>
				</div>
			</div>

			<div class="col-md-6 mt-0" id="fieldListLightingMachineMan">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΦΩΤΙΣΤΙΚΟ ΜΗΧΑΝΗΜΑ (ΚΑΤΑΣΚΕΥΑΣΤΗΣ)</span>
					<input type="text" class="form-control" list="lightingMachineMans" name="lightingMachineMan" id="lightingMachineMan">
					<datalist id="lightingMachineMans">
						<% if(storeroom != undefined) { %>
							<% for (var i=0; i < storeroom.lightingMachineMan.length; i++) { %>
								<option value="<%= storeroom.lightingMachineMan[i] %>">
							<% } %>
						<% } %>
					</datalist>
					<button class="btn btn-primary" id="addMoreLightingMachineMan">Προσθήκη</button>
				</div>
			</div>

			<div class="col-md-6 mt-0" id="fieldListReflectorMan">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΑΝΑΚΛΑΣΤΗΡΑΣ (ΚΑΤΑΣΚΕΥΑΣΤΗΣ)</span>
					<input type="text" class="form-control" list="reflectorMans" name="reflectorMan" id="reflectorMan">
					<datalist id="reflectorMans">
						<% if(storeroom != undefined) { %>
							<% for (var i=0; i < storeroom.reflectorMan.length; i++) { %>
								<option value="<%= storeroom.reflectorMan[i] %>">
							<% } %>
						<% } %>
					</datalist>
					<button class="btn btn-primary" id="addMoreReflectorMan">Προσθήκη</button>
				</div>
			</div>

			<div class="col-md-6 mt-0" id="fieldListLightingMachineType">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΦΩΤΙΣΤΙΚΟ ΜΗΧΑΝΗΜΑ (ΤΥΠΟΣ)</span>
					<input type="text" class="form-control" list="lightingMachineTypes" name="lightingMachineType" id="lightingMachineType">
					<datalist id="lightingMachineTypes">
						<% if(storeroom != undefined) { %>
							<% for (var i=0; i < storeroom.lightingMachineType.length; i++) { %>
								<option value="<%= storeroom.lightingMachineType[i] %>">
							<% } %>
						<% } %>
					</datalist>
					<button class="btn btn-primary" id="addMoreLightingMachineType">Προσθήκη</button>
				</div>
			</div>

			<div class="col-md-6 mt-0" id="fieldListReflectorType">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΑΝΑΚΛΑΣΤΗΡΑΣ (ΤΥΠΟΣ)</span>
					<input type="text" class="form-control" list="reflectorTypes" name="reflectorType" id="reflectorType">
					<datalist id="reflectorTypes">
						<% if(storeroom != undefined) { %>
							<% for (var i=0; i < storeroom.reflectorType.length; i++) { %>
								<option value="<%= storeroom.reflectorType[i] %>">
							<% } %>
						<% } %>
					</datalist>
					<button class="btn btn-primary" id="addMoreReflectorType">Προσθήκη Ανακλαστήρα (Τύπος)</button>
				</div>
			</div>
			
			<div class="col-md-6 mt-0" id="fieldListType">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΤΥΠΟΣ ΦΩΤΟΣΗΜΑΝΤΗΡΑ</span>
					<input type="text" class="form-control" list="types" name="type" id="type">
					<datalist id="types">
						<% if(storeroom != undefined) { %>
							<% for (var i=0; i < storeroom.type.length; i++) { %>
								<option value="<%= storeroom.type[i] %>">
							<% } %>
						<% } %>
					</datalist>
					<button class="btn btn-primary" id="addMoreType">Προσθήκη Τύπου Φωτοσημαντήρα</button>
				</div>
			</div>

			<div class="col-md-6 mt-0" id="fieldListSignsMan">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΕΠΙΣΗΜΑΤΑ (ΚΑΤΑΣΚΕΥΑΣΤΗΣ)</span>
					<input type="text" class="form-control" list="signsMans" name="signsMan" id="signsMan">
					<datalist id="signsMans">
						<% if(storeroom != undefined) { %>
							<% for (var i=0; i < storeroom.signsMan.length; i++) { %>
								<option value="<%= storeroom.signsMan[i] %>">
							<% } %>
						<% } %>
					</datalist>
					<button class="btn btn-primary" id="addMoreSignsMan">Προσθήκη</button>
				</div>
			</div>

			<div class="col-md-6 mt-0" id="fieldListSignsType">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΕΠΙΣΗΜΑΤΑ (ΤΥΠΟΣ)</span>
					<input type="text" class="form-control" list="signsTypes" name="signsType" id="signsType">
					<datalist id="signsTypes">
						<% if(storeroom != undefined) { %>
							<% for (var i=0; i < storeroom.signsType.length; i++) { %>
								<option value="<%= storeroom.signsType[i] %>">
							<% } %>
						<% } %>
					</datalist>
					<button class="btn btn-primary" id="addMoreSignsType">Προσθήκη Επισήματος (Τύπος)</button>
				</div>
			</div>
			
			<div class="col-md-6 mt-0" id="fieldListStateriType">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΣΤΑΤΕΡΙ (Άλυσος)</span>
					<input type="text" class="form-control" list="stateriTypes" name="stateriType" id="stateriType" placeholder="Ίντσες">
					<datalist id="stateriTypes">
						<% if(storeroom != undefined) { %>
							<% for (var i=0; i < storeroom.stateriType.length; i++) { %>
								<option value="<%= storeroom.stateriType[i] %>">
							<% } %>
						<% } %>
					</datalist>
					<button class="btn btn-primary" id="addMoreStateriType">Προσθήκη Στατέρι (Άλυσος)</button>
				</div>
			</div>
			
			<div class="col-md-6 mt-0" id="fieldListAlysosType">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΑΛΥΣΟΣ</span>
					<input type="text" class="form-control" list="alysosTypes" name="alysosType" id="alysosType" placeholder="Ίντσες">
					<datalist id="alysosTypes">
						<% if(storeroom != undefined) { %>
							<% for (var i=0; i < storeroom.alysosType.length; i++) { %>
								<option value="<%= storeroom.alysosType[i] %>">
							<% } %>
						<% } %>
					</datalist>
					<button class="btn btn-primary" id="addMoreAlysosType">Προσθήκη Άλυσου</button>
				</div>
			</div>
			
			<div class="col-md-6 mt-0" id="fieldListAgkyrioChainType">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΑΓΚΥΡΙΟ (Άλυσος)</span>
					<input type="text" class="form-control" list="agkyrioChainTypes" name="agkyrioChainType" id="agkyrioChainType" placeholder="Ίντσες">
					<datalist id="agkyrioChainTypes">
						<% if(storeroom != undefined) { %>
							<% for (var i=0; i < storeroom.agkyrioChainType.length; i++) { %>
								<option value="<%= storeroom.agkyrioChainType[i] %>">
							<% } %>
						<% } %>
					</datalist>
					<button class="btn btn-primary" id="addMoreAgkyrioChainType">Προσθήκη Αγκυρίου (Άλυσος)</button>
				</div>
			</div>
			
			<div class="col-md-6 mt-0" id="fieldListStreptyrasType">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΣΤΡΕΠΤΗΡΑΣ</span>
					<input type="text" class="form-control" list="streptyrasTypes" name="streptyrasType" id="streptyrasType" placeholder="Ίντσες">
					<datalist id="streptyrasTypes">
						<% if(storeroom != undefined) { %>
							<% for (var i=0; i < storeroom.streptyrasType.length; i++) { %>
								<option value="<%= storeroom.streptyrasType[i] %>">
							<% } %>
						<% } %>
					</datalist>
					<button class="btn btn-primary" id="addMoreStreptyrasType">Προσθήκη Στρεπτήρα</button>
				</div>
			</div>
			
			<div class="col-md-6 mt-0" id="fieldListNavyKeyType">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΝΑΥΤΙΚΟ ΚΛΕΙΔΙ</span>
					<input type="text" class="form-control" list="navyKeyTypes" name="navyKeyType" id="navyKeyType" placeholder="Ίντσες">
					<datalist id="navyKeyTypes">
						<% if(storeroom != undefined) { %>
							<% for (var i=0; i < storeroom.navyKeyType.length; i++) { %>
								<option value="<%= storeroom.navyKeyType[i] %>">
							<% } %>
						<% } %>
					</datalist>
					<button class="btn btn-primary" id="addMoreNavyKeyType">Προσθήκη Ναυτικού Κλειδιού</button>
				</div>
			</div>
			
			<div class="col-md-6 mt-0" id="fieldListAgkyrioType">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΑΓΚΥΡΙΟ</span>
					<input type="text" class="form-control" list="agkyrioTypes" name="agkyrioType" id="agkyrioType" placeholder="Κιλά">
					<datalist id="agkyrioTypes">
						<% if(storeroom != undefined) { %>
							<% for (var i=0; i < storeroom.agkyrioType.length; i++) { %>
								<option value="<%= storeroom.agkyrioType[i] %>">
							<% } %>
						<% } %>
					</datalist>
					<button class="btn btn-primary" id="addMoreAgkyrioType">Προσθήκη Αγκυρίου</button>
				</div>
			</div>

			<div class="text-center">
				<a onclick="window.history.back()" class="btn btn-outline-primary float-left">Πίσω</a>
				<button class="btn btn-outline-primary">Εισαγωγή</button>
			</div>
		</form>
	</div>
</div>
<br>

<script src="js/storerooms.js"></script>

<% include ./partials/footer %>
