<% include ../partials/header %>

<div class="container">
    <h2 align="center">Εισαγωγή Στοιχείων</h2>
    <form action="/autoLighthouses/insertAuto/<%= autoLightHouse._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
        <div class="row">
			<div class="input-group input-group-sm mb-3">
				<input class="form-control" type="file" name="file" class="userAvatar" value="1" placeholder="">
			</div>
			<div class="col-md-6 mt-0">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΑΕΦ</span>
					<input type="text" class="form-control" name="aef" id="aef" value="<%= autoLightHouse.aef %>">
				</div>
			</div>
			<div class="col-md-6 mt-0">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΟΝΟΜΑΣΙΑ</span>
					<input type="text" class="form-control" name="lighthouse" id="lighthouse" value="<%= autoLightHouse.lighthouse %>">
				</div>
			</div>
			<div class="col-md-4 mt-0">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΧΡΩΜΑΤΙΣΜΟΣ</span>
					<input type="text" class="form-control" list="colours" name="colour" id="colour" value="<%= autoLightHouse.colour %>">
					<datalist id="colours">
						<% if(storeroom != undefined) { %>
							<% for (var i=0; i < storeroom.colours.length; i++) { %>
								<option value="<%= storeroom.colours[i] %>">
							<% } %>
						<% } %>
					</datalist>
				</div>
			</div>
			<div class="col-md-4 mt-0">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΤΟΜΕΙΣ</span>
					<input type="text" class="form-control" name="sections" id="sections" value="<%= autoLightHouse.sections %>">
				</div>
			</div>
			<div class="col-md-4 mt-0">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΧΑΡΑΚΤΗΡΙΣΤΙΚΟ</span>
					<input type="text" class="form-control" name="features" id="features" value="<%= autoLightHouse.features %>">
				</div>
			</div>
			<div class="col-md-6 mt-0">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΠΕΡΙΓΡΑΦΗ ΘΕΣΕΩΣ/ΤΟΠΟΘΕΤΗΣΗΣ</span>
					<input type="text" class="form-control" name="position" id="position" value="<%= autoLightHouse.position %>">
				</div>
			</div>
			<div class="col-md-6 mt-0">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΠΕΡΙΟΧΗ</span>
					<input type="text" class="form-control" list="locations" name="location" id="location" value="<%= autoLightHouse.location %>">
					<datalist id="locations">
						<% if(storeroom != undefined) { %>
							<% for (var i=0; i < storeroom.locations.length; i++) { %>
								<option value="<%= storeroom.locations[i] %>">
							<% } %>
						<% } %>
					</datalist>
				</div>
			</div>
			<div class="col-md-6 mt-0">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΕΚΛΑΜΠΤΗΡΑΣ</span>
					<input type="text" class="form-control" list="lighters" name="lighter" id="lighter" value="<%= autoLightHouse.lighter %>">
					<datalist id="lighters">
						<% if(storeroom != undefined) { %>
							<% for (var i=0; i < storeroom.lighters.length; i++) { %>
								<option value="<%= storeroom.lighters[i] %>">
							<% } %>
						<% } %>
					</datalist>
				</div>
			</div>
			<div class="col-md-6 mt-0">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΗΜ/ΝΙΑ ΤΟΠΟΘΕΤΗΣΗΣ</span>
					<input type="date" class="form-control" name="lighterDate" id="lighterDate" value="<%= autoLightHouse.lighterDate.pop() %>">
				</div>
			</div>
			<div class="col-md-6 mt-0" id="fieldListSolar">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΗΛΙΑΚΗ ΓΕΝΝΗΤΡΙΑ</span>
					<input type="text" class="form-control" list="datalistOptions1" name="solarGeneratorNew" id="solarGeneratorNew">
					<datalist id="datalistOptions1">
						<% if(storeroom != undefined) { %>
							<% for (var i=0; i < storeroom.solarGenerators.length; i++) { %>
								<option value="<%= storeroom.solarGenerators[i] %>">
							<% } %>
						<% } %>
					</datalist>
				</div>
			</div>
			<div class="col-md-6 mt-0">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΗΜ/ΝΙΑ ΤΟΠΟΘΕΤΗΣΗΣ</span>
					<input type="date" class="form-control" name="solarGeneratorDateNew" id="solarGeneratorDateNew">
				</div>
			</div>
			<% for (var i=0; i < autoLightHouse.solarGenerator.length; i++) { %>
				<div class="col-md-6 mt-0" id="fieldListSolar">
					<div class="input-group input-group-sm mb-3">
						<span class="input-group-text" id="inputGroup-sizing-sm">ΗΛΙΑΚΗ ΓΕΝΝΗΤΡΙΑ</span>
						<input type="text" class="form-control" list="datalistOptions1" name="solarGenerator[]" id="solarGenerator" value="<%= autoLightHouse.solarGenerator[i] %>">
						<datalist id="datalistOptions1">
							<% if(storeroom != undefined) { %>
								<% for (var k=0; k < storeroom.solarGenerators.length; k++) { %>
									<option value="<%= storeroom.solarGenerators[k] %>">
								<% } %>
							<% } %>
						</datalist>
					</div>
				</div>
				<% if(autoLightHouse.solarGeneratorDateGroups.get(i.toString()) != undefined) { %>
					<div class="col-md-6 mt-0">
						<div class="input-group input-group-sm mb-3">
							<span class="input-group-text" id="inputGroup-sizing-sm">ΗΜ/ΝΙΑ ΤΟΠΟΘΕΤΗΣΗΣ</span>
						<input type="date" class="form-control" name="solarGeneratorDate[]" id="solarGeneratorDate" value="<%= autoLightHouse.solarGeneratorDateGroups.get(i.toString())[autoLightHouse.solarGeneratorDateGroups.get(i.toString()).length-1] %>">
					</div>
					</div>
				<% } else { %>
					<div class="col-md-6 mt-0">
						<div class="input-group input-group-sm mb-3">
							<span class="input-group-text" id="inputGroup-sizing-sm">ΗΜ/ΝΙΑ ΤΟΠΟΘΕΤΗΣΗΣ</span>
							<input type="date" class="form-control" name="solarGeneratorDate[]" id="solarGeneratorDate">
						</div>
					</div>
				<% } %>
			<% } %>
			<div class="col-md-6 mt-0">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΕΝΑΛΛΑΚΤΗΣ</span>
					<input type="text" class="form-control" list="alternators" name="alternator" id="alternator" value="<%= autoLightHouse.alternator %>">
					<datalist id="alternators">
						<% if(storeroom != undefined) { %>
							<% for (var k=0; k < storeroom.alternators.length; k++) { %>
								<option value="<%= storeroom.alternators[k] %>">
							<% } %>
						<% } %>
					</datalist>
				</div>
			</div>
			<div class="col-md-6 mt-0">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΗΜ/ΝΙΑ ΤΟΠΟΘΕΤΗΣΗΣ</span>
					<input type="date" class="form-control" name="alternatorDate" id="alternatorDate" value="<%= autoLightHouse.alternatorDate.pop() %>">
				</div>
			</div>
			<div class="col-md-6 mt-0" id="fieldListLamp">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΛΥΧΝΙΑ</span>
					<input type="text" class="form-control" list="datalistOptions2" name="lampNew" id="lamp">
					<datalist id="datalistOptions2">
						<% if(storeroom != undefined) { %>
							<% for (var k=0; k < storeroom.lamps.length; k++) { %>
								<option value="<%= storeroom.lamps[k] %>">
							<% } %>
						<% } %>
					</datalist>
				</div>
			</div>
			<div class="col-md-6 mt-0">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΗΜ/ΝΙΑ ΤΟΠΟΘΕΤΗΣΗΣ</span>
					<input type="date" class="form-control" name="lampDateNew" id="lampDateNew">
				</div>
			</div>
			<% for (var i=0; i < autoLightHouse.lamp.length; i++) { %>
				<div class="col-md-6 mt-0" id="fieldListLamp">
					<div class="input-group input-group-sm mb-3">
						<span class="input-group-text" id="inputGroup-sizing-sm">ΛΥΧΝΙΑ</span>
						<input type="text" class="form-control" list="datalistOptions2" name="lamp[]" id="lamp" value="<%= autoLightHouse.lamp[i] %>">
						<datalist id="datalistOptions2">
							<% if(storeroom != undefined) { %>
								<% for (var k=0; k < storeroom.lamps.length; k++) { %>
									<option value="<%= storeroom.lamps[k] %>">
								<% } %>
							<% } %>
						</datalist>
					</div>
				</div>
				<% if(autoLightHouse.lampDateGroups.get(i.toString()) != undefined) { %>
					<div class="col-md-6 mt-0">
						<div class="input-group input-group-sm mb-3">
							<span class="input-group-text" id="inputGroup-sizing-sm">ΗΜ/ΝΙΑ ΤΟΠΟΘΕΤΗΣΗΣ</span>
							<input type="date" class="form-control" name="lampDate[]" id="lampDate" value="<%= autoLightHouse.lampDateGroups.get(i.toString())[autoLightHouse.lampDateGroups.get(i.toString()).length-1] %>">
						</div>
					</div>
				<% } else { %>
					<div class="col-md-6 mt-0">
						<div class="input-group input-group-sm mb-3">
							<span class="input-group-text" id="inputGroup-sizing-sm">ΗΜ/ΝΙΑ ΤΟΠΟΘΕΤΗΣΗΣ</span>
							<input type="date" class="form-control" name="lampDate[]" id="lampDate">
						</div>
					</div>
				<% } %>
			<% } %>
			<div class="col-md-6 mt-0" id="fieldListAcc">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΣΥΣΣΩΡΕΥΤΗΣ</span>
					<input type="text" class="form-control" list="datalistOptions" name="accumulatorNew" id="accumulator">
					<datalist id="datalistOptions">
						<% if(storeroom != undefined) { %>
							<% for (var k=0; k < storeroom.accumulators.length; k++) { %>
								<option value="<%= storeroom.accumulators[k] %>">
							<% } %>
						<% } %>
					</datalist>
				</div>
			</div>
			<div class="col-md-6 mt-0">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΗΜ/ΝΙΑ ΤΟΠΟΘΕΤΗΣΗΣ</span>
					<input type="date" class="form-control" name="accumulatorDateNew" id="accumulatorDateNew">
				</div>
			</div>
			<% for (var i=0; i < autoLightHouse.accumulator.length; i++) { %>
				<div class="col-md-6 mt-0" id="fieldListAcc">
					<div class="input-group input-group-sm mb-3">
						<span class="input-group-text" id="inputGroup-sizing-sm">ΣΥΣΣΩΡΕΥΤΗΣ</span>
						<input type="text" class="form-control" list="datalistOptions" name="accumulator[]" id="accumulator" value="<%= autoLightHouse.accumulator[i] %>">
						<datalist id="datalistOptions">
							<% if(storeroom != undefined) { %>
								<% for (var k=0; k < storeroom.accumulators.length; k++) { %>
									<option value="<%= storeroom.accumulators[k] %>">
								<% } %>
							<% } %>
						</datalist>
					</div>
				</div>
				<% if(autoLightHouse.accumulatorDateGroups.get(i.toString()) != undefined) { %>
					<div class="col-md-6 mt-0">
						<div class="input-group input-group-sm mb-3">
							<span class="input-group-text" id="inputGroup-sizing-sm">ΗΜ/ΝΙΑ ΤΟΠΟΘΕΤΗΣΗΣ</span>
							<input type="date" class="form-control" name="accumulatorDate[]" id="accumulatorDate" value="<%= autoLightHouse.accumulatorDateGroups.get(i.toString())[autoLightHouse.accumulatorDateGroups.get(i.toString()).length-1] %>">
						</div>
					</div>
				<% } else { %>
					<div class="col-md-6 mt-0">
						<div class="input-group input-group-sm mb-3">
							<span class="input-group-text" id="inputGroup-sizing-sm">ΗΜ/ΝΙΑ ΤΟΠΟΘΕΤΗΣΗΣ</span>
							<input type="date" class="form-control" name="accumulatorDate[]" id="accumulatorDate">
						</div>
					</div>
				<% } %>
			<% } %>
			<div class="col-md-6 mt-0">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΚΕΦΑΛΗ</span>
					<input type="text" class="form-control" list="heads" name="head" id="head" value="<%= autoLightHouse.head %>">
					<datalist id="heads">
						<% if(storeroom != undefined) { %>
							<% for (var k=0; k < storeroom.heads.length; k++) { %>
								<option value="<%= storeroom.heads[k] %>">
							<% } %>
						<% } %>
					</datalist>
				</div>
			</div>
			<div class="col-md-6 mt-0">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΗΜ/ΝΙΑ ΤΟΠΟΘΕΤΗΣΗΣ</span>
					<input type="date" class="form-control" name="headDate" id="headDate" value="<%= autoLightHouse.headDate.pop() %>">
				</div>
			</div>
			<div class="col-md-6 mt-0">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΡΥΘΜΙΣΤΗΣ ΦΟΡΤΙΣΕΩΣ/ ΦΟΡΤΙΣΤΗΣ</span>
					<input type="text" class="form-control" list="generatorSockets" name="generatorSocket" id="generatorSocket" value="<%= autoLightHouse.generatorSocket %>">
					<datalist id="generatorSockets">
						<% if(storeroom != undefined) { %>
							<% for (var k=0; k < storeroom.generatorSockets.length; k++) { %>
								<option value="<%= storeroom.generatorSockets[k] %>">
							<% } %>
						<% } %>
					</datalist>
				</div>
			</div>
			<div class="col-md-6 mt-0">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΗΜ/ΝΙΑ ΤΟΠΟΘΕΤΗΣΗΣ</span>
					<input type="date" class="form-control" name="generatorSocketDate" id="generatorSocketDate" value="<%= autoLightHouse.generatorSocketDate.pop() %>">
				</div>
			</div>
			<div class="col-md-6 mt-0">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΥΠΟΔΟΧΗ ΠΥΡΣΟΥ</span>
					<input type="text" class="form-control" list="torchSockets" name="torchSocket" id="torchSocket" value="<%= autoLightHouse.torchSocket %>">
					<datalist id="torchSockets">
						<% if(storeroom != undefined) { %>
							<% for (var k=0; k < storeroom.torchSockets.length; k++) { %>
								<option value="<%= storeroom.torchSockets[k] %>">
							<% } %>
						<% } %>
					</datalist>
				</div>
			</div>
			<div class="col-md-6 mt-0">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΗΜ/ΝΙΑ ΤΟΠΟΘΕΤΗΣΗΣ</span>
					<input type="date" class="form-control" name="torchSocketDate" id="torchSocketDate" value="<%= autoLightHouse.torchSocketDate.pop() %>">
				</div>
			</div>
			<div class="col-md-6 mt-0">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΦΩΤΟΚΥΤΤΑΡΟ</span>
					<input type="text" class="form-control" list="photocells" name="photocell" id="photocell" value="<%= autoLightHouse.photocell %>">
					<datalist id="photocells">
						<% if(storeroom != undefined) { %>
							<% for (var i=0; i < storeroom.photocells.length; i++) { %>
								<option value="<%= storeroom.photocells[i] %>">
							<% } %>
						<% } %>
					</datalist>
				</div>
			</div>
			<div class="col-md-6 mt-0">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΗΜ/ΝΙΑ ΤΟΠΟΘΕΤΗΣΗΣ</span>
					<input type="date" class="form-control" name="photocellDate" id="photocellDate" value="<%= autoLightHouse.photocellDate.pop() %>">
				</div>
			</div>
			<div class="col-md-6 mt-0">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΠΡΟΣΘΕΤΟ ΕΞΑΡΤΗΜΑ</span>
					<input type="text" class="form-control" list="accessorys" name="accessory" id="accessory">
					<datalist id="accessorys">
						<% if(storeroom != undefined) { %>
							<% for (var i=0; i < storeroom.accessorys.length; i++) { %>
								<option value="<%= storeroom.accessorys[i] %>">
							<% } %>
						<% } %>
					</datalist>
				</div>
			</div>
			<div class="col-md-6 mt-0">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΗΜ/ΝΙΑ ΤΟΠΟΘΕΤΗΣΗΣ</span>
					<input type="date" class="form-control" name="accessoryDate" id="accessoryDate" value="<%= autoLightHouse.accessoryDate.pop() %>">
				</div>
			</div>
        </div>
        
        <br>
        
		<div class="text-center">
			<div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
				<input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
				<a onclick="window.history.back()" class="btn btn-outline-primary float-left">Πίσω</a>
				<a href="/" class="btn btn-outline-primary float-left">Αρχική Σελίδα</a>
                <button class="btn btn-outline-primary float-right" type="submit">Εισαγωγή στοιχείων</button>
			</div>
		</div>
    </form>
</div>
<br>

<% include ../partials/footer %>
