
<% include ../partials/header %>
<div class="container">
	<div class="row">
		<h2 align="center">Εισαγωγή Στοιχείων</h2>
		<form action="/lightBeacons/insertLight/<%= lightBeacon._id %>?_method=PUT" method="POST" class="row g-3">
			<div class="col-md-6 mt-0">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΑΕΦ</span>
					<input type="text" class="form-control" name="aef" id="aef" value="<%= lightBeacon.aef %>">
				</div>
			</div>
			<div class="col-md-6 mt-0">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΟΝΟΜΑΣΙΑ</span>
					<input type="text" class="form-control" name="lighthouse" id="lighthouse" value="<%= lightBeacon.lighthouse %>">
				</div>
			</div>
			<div class="col-md-6 mt-0">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΧΡΩΜΑΤΙΣΜΟΣ</span>
					<input type="text" class="form-control" list="colours" name="colour" id="colour" value="<%= lightBeacon.colour %>">
					<datalist id="colours">
						<% if(storeroom != undefined) { %>
							<% for (var i=0; i < storeroom.colours.length; i++) { %>
								<option value="<%= storeroom.colours[i] %>">
							<% } %>
						<% } %>
					</datalist>
				</div>
			</div>
			<div class="col-md-6 mt-0">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΧΑΡΑΚΤΗΡΙΣΤΙΚΟ</span>
					<input type="text" class="form-control" name="features" id="features" value="<%= lightBeacon.features %>">
				</div>
			</div>
			<div class="col-md-6 mt-0">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΠΕΡΙΓΡΑΦΗ ΘΕΣΕΩΣ/ΤΟΠΟΘΕΤΗΣΗΣ</span>
					<input type="text" class="form-control" name="position" id="position" value="<%= lightBeacon.position %>">
				</div>
			</div>
			<div class="col-md-6 mt-0">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΠΕΡΙΟΧΗ</span>
					<input type="text" class="form-control" list="locations" name="location" id="location" value="<%= lightBeacon.location %>">
					<datalist id="locations">
						<% if(storeroom != undefined) { %>
							<% for (var i=0; i < storeroom.locations.length; i++) { %>
								<option value="<%= storeroom.locations[i] %>">
							<% } %>
						<% } %>
					</datalist>
				</div>
			</div>
			</br>
            <div class="input-group input-group-sm mb-3 mt-0">
                <span class="input-group-text" id="inputGroup-sizing-sm">ΣΤΙΓΜΑ</span>
				<input type="text" class="form-control" name="stigmax" id="stigmax" value="<%= lightBeacon.stigma.x %>" placeholder="Χ:">
				<input type="text" class="form-control" name="stigmay" id="stigmay" value="<%= lightBeacon.stigma.y %>" placeholder="Ψ:">
			</div>
			
			<div class="col-md-6 mt-0" id="fieldListAcc">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΣΥΣΣΩΡΕΥΤΗΣ</span>
					<input type="text" class="form-control" list="datalistOptions" name="accumulatorNew" id="accumulatorNew">
					<datalist id="datalistOptions">
						<% if(storeroom != undefined) { %>
							<% for (var i=0; i < storeroom.accumulators.length; i++) { %>
								<option value="<%= storeroom.accumulators[i] %>">
							<% } %>
						<% } %>
					</datalist>
				</div>
			</div>
			<div class="col-md-6 mt-0">
				<div class="input-group input-group-sm mb-3">
					<span class="input-group-text" id="inputGroup-sizing-sm">ΗΜ/ΝΙΑ ΤΟΠΟΘΕΤΗΣΗΣ</span>
					<input type="date" class="form-control" name="accumulatorDateNew" id="accumulatorDateNew">
				</div>
			</div>
			<% for (var i=0; i < lightBeacon.accumulator.length; i++) { %>
				<div class="col-md-6 mt-0" id="fieldListAcc">
					<div class="input-group input-group-sm mb-3">
						<span class="input-group-text" id="inputGroup-sizing-sm">ΣΥΣΣΩΡΕΥΤΗΣ</span>
						<input type="text" class="form-control" list="datalistOptions" name="accumulator[]" id="accumulator" value="<%= lightBeacon.accumulator[i] %>">
						<datalist id="datalistOptions">
							<% if(storeroom != undefined) { %>
								<% for (var i=0; i < storeroom.accumulators.length; i++) { %>
									<option value="<%= storeroom.accumulators[i] %>">
								<% } %>
							<% } %>
						</datalist>
					</div>
				</div>
				<% if(lightBeacon.accumulatorDateGroups.get(i.toString()) != undefined) { %>
					<div class="col-md-6 mt-0">
						<div class="input-group input-group-sm mb-3">
							<span class="input-group-text" id="inputGroup-sizing-sm">ΗΜ/ΝΙΑ ΤΟΠΟΘΕΤΗΣΗΣ</span>
							<input type="date" class="form-control" name="accumulatorDate[]" id="accumulatorDate" value="<%= lightBeacon.accumulatorDateGroups.get(i.toString())[lightBeacon.accumulatorDateGroups.get(i.toString()).length-1] %>">
						</div>
					</div>
				<% } else { %>
					<div class="col-md-6 mt-0">
						<div class="input-group input-group-sm mb-3">
							<span class="input-group-text" id="inputGroup-sizing-sm">ΗΜ/ΝΙΑ ΤΟΠΟΘΕΤΗΣΗΣ</span>
							<input type="date" class="form-control" name="accumulatorDate[]" id="accumulatorDate">
						</div>
					</div>
				<% } %>
			<% } %>
			<div class="col-md-3 mt-0">
				<label class="form-label"><strong>ΕΞΑΡΤΗΜΑΤΑ ΠΥΡΓΟΥ</strong></label>
			</div>
			<div class="col-md-3 mt-0">
				<label class="form-label"><strong>ΚΑΤΑΣΚΕΥΑΣΤΗΣ</strong></label>
			</div>
			<div class="col-md-2 mt-0">
				<label class="form-label"><strong>ΤΥΠΟΣ</strong></label>
			</div>
			<div class="col-md-2 mt-0">
				<label class="form-label"><strong>ΤΕΜ</strong></label>
			</div>
			<div class="col-md-2 mt-0">
				<label class="form-label"><strong>ΗΜΕΡΟΜΗΝΙΑ</strong></label>
			</div>

			<div class="col-md-3 mt-0">
				<div class="input-group input-group-sm">
					<span class="input-group-text" id="basic-addon3">ΦΩΤΙΣΤΙΚΟ ΜΗΧΑΝΗΜΑ</span>
				</div>
			</div>
			<div class="col-md-3 mt-0">
				<div class="input-group input-group-sm">
					<input type="text" class="form-control" list="lightingMachineMans" name="lightingMachineMan" id="lightingMachineMan" value="<%= lightBeacon.lightingMachine.manufacturer %>">
					<datalist id="lightingMachineMans">
						<% if(storeroom != undefined) { %>
							<% for (var i=0; i < storeroom.lightingMachineMan.length; i++) { %>
								<option value="<%= storeroom.lightingMachineMan[i] %>">
							<% } %>
						<% } %>
					</datalist>
				</div>
			</div>
			<div class="col-md-2 mt-0">
				<div class="input-group input-group-sm">
					<input type="text" class="form-control" list="lightingMachineTypes" name="lightingMachineType" id="lightingMachineType" value="<%= lightBeacon.lightingMachine.type %>">
					<datalist id="lightingMachineTypes">
						<% if(storeroom != undefined) { %>
							<% for (var i=0; i < storeroom.lightingMachineType.length; i++) { %>
								<option value="<%= storeroom.lightingMachineType[i] %>">
							<% } %>
						<% } %>
					</datalist>
				</div>
			</div>
			<div class="col-md-2 mt-0">
				<div class="input-group input-group-sm">
					<input type="number" class="form-control" name="lightingMachineCounter" id="lightingMachineCounter" value="<%= lightBeacon.lightingMachine.counter %>">
				</div>
			</div>
			<div class="col-md-2 mt-0">
				<div class="input-group input-group-sm">
					<% if(lightBeacon.lightingMachineDate != undefined && lightBeacon.lightingMachineDate[lightBeacon.lightingMachineDate.length - 1] != null) { %>
						<input type="date" class="form-control" name="lightingMachineDat" id="lightingMachineDat" value="<%= lightBeacon.lightingMachineDate[lightBeacon.lightingMachineDate.length - 1].toISOString().split('T')[0] %>">
					<% } else { %>
						<input type="date" class="form-control" name="lightingMachineDat" id="lightingMachineDat">
					<% } %>
				</div>
			</div>
			<div class="col-md-3 mt-0">
				<div class="input-group input-group-sm">
					<span class="input-group-text" id="basic-addon3">ΑΝΑΚΛΑΣΤΗΡΑΣ</span>
				</div>
			</div>
			<div class="col-md-3 mt-0">
				<div class="input-group input-group-sm">
					<input type="text" class="form-control" list="reflectorMans" name="reflectorMan" id="reflectorMan" value="<%= lightBeacon.reflector.manufacturer %>">
					<datalist id="reflectorMans">
						<% if(storeroom != undefined) { %>
							<% for (var i=0; i < storeroom.reflectorMan.length; i++) { %>
								<option value="<%= storeroom.reflectorMan[i] %>">
							<% } %>
						<% } %>
					</datalist>
				</div>
			</div>
			<div class="col-md-2 mt-0">
				<div class="input-group input-group-sm">
					<input type="text" class="form-control" list="reflectorTypes" name="reflectorType" id="reflectorType" value="<%= lightBeacon.reflector.type %>">
					<datalist id="reflectorTypes">
						<% if(storeroom != undefined) { %>
							<% for (var i=0; i < storeroom.reflectorType.length; i++) { %>
								<option value="<%= storeroom.reflectorType[i] %>">
							<% } %>
						<% } %>
					</datalist>
				</div>
			</div>
			<div class="col-md-2 mt-0">
				<div class="input-group input-group-sm">
					<input type="number" class="form-control" name="reflectorCounter" id="reflectorCounter" value="<%= lightBeacon.reflector.counter %>">
				</div>
			</div>
			<div class="col-md-2 mt-0">
				<div class="input-group input-group-sm">
					<% if(lightBeacon.reflectorDate != undefined) { %>
						<input type="date" class="form-control" name="reflectorDate" id="reflectorDate" value="<%= lightBeacon.reflectorDate.toISOString().split('T')[0] %>">
					<% } else { %>
						<input type="date" class="form-control" name="reflectorDate" id="reflectorDate">
					<% } %>
				</div>
			</div>
			<div class="col-md-3 mt-0">
				<div class="input-group input-group-sm">
					<span class="input-group-text" id="basic-addon3">ΕΠΙΣΗΜΑΤΑ</span>
				</div>
			</div>
			<div class="col-md-3 mt-0">
				<div class="input-group input-group-sm">
					<input type="text" class="form-control" list="signsMans" name="signsMan" id="signsMan" value="<%= lightBeacon.signs.manufacturer %>">
					<datalist id="signsMans">
						<% if(storeroom != undefined) { %>
							<% for (var i=0; i < storeroom.signsMan.length; i++) { %>
								<option value="<%= storeroom.signsMan[i] %>">
							<% } %>
						<% } %>
					</datalist>
				</div>
			</div>
			<div class="col-md-2 mt-0">
				<div class="input-group input-group-sm">
					<input type="text" class="form-control" list="signsTypes" name="signsType" id="signsType" value="<%= lightBeacon.signs.type %>">
					<datalist id="signsTypes">
						<% if(storeroom != undefined) { %>
							<% for (var i=0; i < storeroom.signsType.length; i++) { %>
								<option value="<%= storeroom.signsType[i] %>">
							<% } %>
						<% } %>
					</datalist>
				</div>
			</div>
			<div class="col-md-2 mt-0">
				<div class="input-group input-group-sm">
					<input type="number" class="form-control" name="signsCounter" id="signsCounter" value="<%= lightBeacon.signs.counter %>">
				</div>
			</div>
			<div class="col-md-2 mt-0">
				<div class="input-group input-group-sm">
					<% if(lightBeacon.signsDate != undefined) { %>
						<input type="date" class="form-control" name="signsDate" id="signsDate" value="<%= lightBeacon.signsDate.toISOString().split('T')[0] %>">
					<% } else { %>
						<input type="date" class="form-control" name="signsDate" id="signsDate">
					<% } %>
				</div>
			</div>
			<div class="col-md-4">
				<img src="/foto_FR.jpg" class="rounded float-start">
			</div>
			<div class="col-md-8">
				<label for="type" class="form-label">ΤΥΠΟΣ ΦΩΤΟΣΗΜΑΝΤΗΡΑ</label>
				<input type="text" class="form-control" list="types" name="type" id="type"  value="<%= lightBeacon.type %>">
				<datalist id="types">
					<% if(storeroom != undefined) { %>
						<% for (var i=0; i < storeroom.type.length; i++) { %>
							<option value="<%= storeroom.type[i] %>">
						<% } %>
					<% } %>
				</datalist>
				<label for="usedChain" class="form-label">ΣΥΝΟΛΟ ΧΡΗΣΙΜΟΠΟΙΗΘΕΝΤΟΣ ΑΛΥΣΟΥ</label>
				<input type="number" class="form-control" name="usedChain" id="usedChain" value="<%= lightBeacon.usedChain %>">
				<label for="immersionDepth" class="form-label">ΒΑΘΟΣ ΠΟΝΤΙΣΕΩΣ</label>
				<input type="number" class="form-control" name="immersionDepth" id="immersionDepth" value="<%= lightBeacon.immersionDepth %>">
				<div class="col-md-4">
					<label for="immersionDepthDate" class="form-label">ΗΜ/ΝΙΑ ΠΟΝΤΙΣΕΩΣ</label>
					<% if(lightBeacon.immersionDepthDate != undefined) { %>
						<input type="date" class="form-control" name="immersionDepthDate" id="immersionDepthDate" value="<%= lightBeacon.immersionDepthDate.toISOString().split('T')[0] %>">
					<% } else { %>
						<input type="date" class="form-control" name="immersionDepthDate" id="immersionDepthDate">
					<% } %>
				</div>
				<br>
				<div class="row">
					<div class="col-8 col-sm-4">
						<label class="form-label"><strong>ΕΞΑΡΤΗΜΑΤΑ ΠΟΝΤΙΣΕΩΣ</strong></label>
					</div>
					<div class="col-8 col-sm-4">
						<label class="form-label"><strong>ΤΥΠΟΣ</strong></label>
					</div>
					<div class="col-8 col-sm-4">
						<label class="form-label"><strong>ΜΕΤΡΑ</strong></label>
					</div>
				</div>
				<div class="row">
					<div class="col-8 col-sm-4">
						<span class="input-group-text" id="basic-addon3">ΣΤΑΤΕΡΙ (Άλυσος)</span>
						<span class="input-group-text" id="basic-addon3">ΑΛΥΣΟΣ</span>
						<span class="input-group-text" id="basic-addon3">ΑΓΚΥΡΙΟ (Άλυσος)</span>
					</div>
					<div class="col-8 col-sm-4">
						<input type="text" class="form-control" list="stateriTypes" name="stateriType" id="stateriType" value="<%= lightBeacon.stateri.type %>" placeholder="Ίντσες">
						<datalist id="stateriTypes">
							<% if(storeroom != undefined) { %>
								<% for (var i=0; i < storeroom.stateriType.length; i++) { %>
									<option value="<%= storeroom.stateriType[i] %>">
								<% } %>
							<% } %>
						</datalist>
						<input type="text" class="form-control" list="alysosTypes" name="alysosType" id="alysosType" value="<%= lightBeacon.alysos.type %>" placeholder="Ίντσες">
						<datalist id="alysosTypes">
							<% if(storeroom != undefined) { %>
								<% for (var i=0; i < storeroom.alysosType.length; i++) { %>
									<option value="<%= storeroom.alysosType[i] %>">
								<% } %>
							<% } %>
						</datalist>
						<input type="text" class="form-control" list="agkyrioChainTypes" name="agkyrioChainType" id="agkyrioChainType" value="<%= lightBeacon.agkyrioChain.type %>" placeholder="Ίντσες">
						<datalist id="agkyrioChainTypes">
							<% if(storeroom != undefined) { %>
								<% for (var i=0; i < storeroom.agkyrioChainType.length; i++) { %>
									<option value="<%= storeroom.agkyrioChainType[i] %>">
								<% } %>
							<% } %>
						</datalist>
					</div>
					<div class="col-8 col-sm-4">
						<input type="number" class="form-control" name="stateriCounter" id="stateriCounter" value="<%= lightBeacon.stateri.counter %>" placeholder="X2">
						<input type="number" class="form-control" name="alysosCounter" id="alysosCounter" value="<%= lightBeacon.alysos.counter %>" placeholder="M">
						<input type="number" class="form-control" name="agkyrioChainCounter" id="agkyrioChainCounter" value="<%= lightBeacon.agkyrioChain.counter %>" placeholder="X2">
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-8 col-sm-4">
						<label class="form-label"><strong>ΕΞΑΡΤΗΜΑΤΑ ΠΟΝΤΙΣΕΩΣ</strong></label>
					</div>
					<div class="col-8 col-sm-4">
						<label class="form-label"><strong>ΤΥΠΟΣ</strong></label>
					</div>
					<div class="col-8 col-sm-4">
						<label class="form-label"><strong>ΤΕΜ</strong></label>
					</div>
				</div>
				<div class="row">
					<div class="col-8 col-sm-4">
						<span class="input-group-text" id="basic-addon3">ΣΤΡΕΠΤΗΡΑΣ</span>
						<span class="input-group-text" id="basic-addon3">ΝΑΥΤΙΚΟ ΚΛΕΙΔΙ</span>
						<span class="input-group-text" id="basic-addon3">ΑΓΚΥΡΙΟ</span>
					</div>
					<div class="col-8 col-sm-4">
						<input type="text" class="form-control" list="streptyrasTypes" name="streptyrasType" id="streptyrasType" value="<%= lightBeacon.streptyras.type %>" placeholder="Ίντσες">
						<datalist id="streptyrasTypes">
							<% if(storeroom != undefined) { %>
								<% for (var i=0; i < storeroom.streptyrasType.length; i++) { %>
									<option value="<%= storeroom.streptyrasType[i] %>">
								<% } %>
							<% } %>
						</datalist>
						<input type="text" class="form-control" list="navyKeyTypes" name="navyKeyType" id="navyKeyType" value="<%= lightBeacon.navyKey.type %>" placeholder="Ίντσες">
						<datalist id="navyKeyTypes">
							<% if(storeroom != undefined) { %>
								<% for (var i=0; i < storeroom.navyKeyType.length; i++) { %>
									<option value="<%= storeroom.navyKeyType[i] %>">
								<% } %>
							<% } %>
						</datalist>
						<input type="text" class="form-control" list="agkyrioTypes" name="agkyrioType" id="agkyrioType" value="<%= lightBeacon.agkyrio.type %>"placeholder="Κιλά">
						<datalist id="agkyrioTypes">
							<% if(storeroom != undefined) { %>
								<% for (var i=0; i < storeroom.agkyrioType.length; i++) { %>
									<option value="<%= storeroom.agkyrioType[i] %>">
								<% } %>
							<% } %>
						</datalist>
					</div>
					<div class="col-8 col-sm-4">
						<input type="number" class="form-control" name="streptyrasCounter" value="<%= lightBeacon.streptyras.counter %>" id="streptyrasCounter">
						<input type="number" class="form-control" name="navyKeyCounter" value="<%= lightBeacon.navyKey.counter %>" id="navyKeyCounter">
						<input type="number" class="form-control" name="agkyrioCounter" value="<%= lightBeacon.agkyrio.counter %>" id="agkyrioCounter">
					</div>
				</div>
			</div>
			
			<br>

			<div class="text-center">
				<div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
					<input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
					<a onclick="window.history.back()" class="btn btn-outline-primary float-left">Πίσω</a>
					<a href="/" class="btn btn-outline-primary float-left">Αρχική Σελίδα</a>
					<button class="btn btn-outline-primary float-right" type="submit">Εισαγωγή στοιχείων</button>
				</div>
			</div>
		</form>
	</div>
</div>
<br>

<% include ../partials/footer %>
	